@import '../../sass/mixin';
@import '../../sass/variables.scss';
.signin {
  height: 100vh;
  &-container {
    display: flex;
    &-left {
      width: 43%;
      background-image: linear-gradient(
          to right bottom,
          rgba(60, 80, 151, 0.858),
          rgba(60, 80, 151, 0.858)
        ),
        url(../../assets/SignUpImages/leftback2.svg);
      // background-position: center;
      object-fit: cover;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;

      @include respond(phone) {
        display: none;
      }
      &-content {
        width: 40rem;
        & > h1 {
          color: white;
          text-align: center;
          font-size: 3.2rem;
          font-weight: 700;
        }
      }
    }
    &-right {
      width: 57%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
  background-color: white;
      padding: 0rem 4rem;

      @include respond(phone) {
        width: 100%;
      }

      &-content{
        // background-color: lightcoral;
        &-topbar{
          height: auto;
          padding: .5rem 0rem;
          // background-color: red;
          &-content{
            height: auto;
            padding: .3rem;
            display: flex;
            align-items: center;
            // background-color: lightblue;
            &>img{
      
              @include respond (phone){
                width: 25%;
              }
            }
          &-Signbtns{
            width: 50%;
            height: auto;
            padding: 1rem;
            display: flex;
            justify-content: center;
            // background-color: lightcoral;
            &>*:not(:first-child){
              margin-left: 3rem;
              font-weight: 400;
            }
            &>button{
              background: none;
              border: none;
              color: $neviblue;
              font-weight: bolder;
            }
          }
          }
        }
        &-heading{
          &>h1{
            text-align: center;
            font-size: 24px;
            font-weight: 600;
          }
        }
        &-socialIcons{
          width: 100%;
          margin-top: 1rem;
          // background-color: aqua;
          display: flex;
          justify-content: center;
         &>*:not(:first-child){
          margin-left: 1.5rem;
         }
         &-icons{
        width: 3%;
        height: auto;
        border-radius: .5rem;
        display: flex;
        cursor: pointer;
        background-color: $neviblue;
        &>img{
          padding: .5rem;
          border-radius: .5rem;
          background-color: $gray;
        }
        &>p{
          visibility: hidden;
        }
      }
      &-icons:hover{
        transition: .3s ease-in-out;
          //  padding: 0rem .3rem;
          width: 15%;
          align-items: center;
          justify-content: space-between;
          &>p{
         visibility: visible;
         color: white;
         font-size: 1.3rem;
         margin-right: 1.7rem;
          }
         }
        }
        &-hr{
          margin-top:1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        // &>hr{
        //   // width: 30%;
        // }
        &>*:not(:first-child){
          margin-left: 1rem;
        }
        &>span{
          font-size: 1.2rem;
        }
        }

      }
      &-form {
        margin-top: 1.5rem;
        &-signin {
          width: 75%;
          margin: auto;

          @include respond(phone) {
            width: 90%;
          }

          &-checkbox {
            display: flex;
            margin: 1.5rem 0rem;
            & > input {
              accent-color: $neviblue;
              margin-right: 1rem;
              border: none;
              outline: none;
              background: none;
            }
          }
          &-btn {
            margin-top: 2rem;
            @include respond(phone) {
              padding-bottom: 2rem;
            }
          }
        }
      }
    }
  }
}

//  Sign Up Page left

.signleft {
  &-content {
    width: 77%;
    & > h1 {
      // color: white;
      color: red;
      text-align: center;
      font-size: 3.2rem;
      font-weight: 800;
    }
  }
}
.login-txt{
  color: white;
  align-items: center;
  margin-top: 1rem;
  font-size: 2rem;
}
.chckbx-text{
  color: black;
}
.frgt-pswrd a{
  margin-top: 3rem;
  font-size: 1.5rem;
  @include respond(phone){
    margin-top: 2rem;
  }
}
.frgt-pswrd:hover{
  font-weight: 500;
}

.login-btn2{
  padding: .5rem 1rem;
  font-size: 1.5rem;
  text-decoration: none;
  background-color: $neviblue;
  color: white;
  border: none;
  border-radius: .5rem;
}
.login-btn2:hover{
  background-color: white;
  color: $neviblue;
  border: 1px solid $neviblue;
  border-radius: .5rem;
}