@import '../../sass/mixin';
@import '../../sass/variables.scss';


.profile-container1{
    width: 100%;
    height: auto;
    padding: .5rem 0rem ;
    background-color: white;
    box-shadow: 1px 1px 10px 0px gray;
    &-content{
        width: 90%;
        height: auto;
        margin: auto;
    &-topbar{
        width: 100%;
        height: auto;
        // padding: .2rem 0rem;
        // background-color: lightcoral;
        &-content{
            width: 100%;
            height: auto;
            // padding: .2rem 0rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            // background-color: aqua;
            &>img{
                width:12%;
            }
        &-right{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 1rem;
            &>img{
             cursor: pointer;
            }
        }
        }
    }
}
}
.profile-image{
    width: 50%;
    height: auto;
    margin-right:1rem;
 cursor: pointer;
    // padding: .5rem ;
    // background-color: lightcoral;
    // &>img{
    //     width: 10%;
    //     height: 10%;
    // }
}

.profile-container2{
    width: 100%;
    height: auto;
    // padding: .4rem 0rem;
    background-color: lawngreen;
    &-content{
        width: 100%;
        height: auto;
        // padding: .2rem 0rem;
        display: flex;
        background-color: aqua;
        &-left{
            width: 20%;
            height: 82vh;
            padding: 3rem 0rem;
            background-color: $neviblue;
            &-content{
                width: 80%;
                height: auto;
                padding: 1rem 0rem ;
                margin: auto;
                // background-color: peru;
            &>*:not(:first-child){
                margin-top: 3rem;

            }
            &>*:not(:first-child,:last-child){
                font-weight: bold;
            }
            }
        }
        &-right{
            width: 80%;
            height: auto;
            // padding: .5rem 0rem ;
            background-color: lightgreen;
            &-popup{
                width: 100%;
                height: 90vh;
                display: flex;
                flex-direction: column;

                background-color: rgba(88, 86, 86, 0.548);
                z-index: 9999;
                &-content{
                    width: 70%;
                    height:auto;
                    margin: auto;
                    border-radius: .5rem;
                    background-color: $neviblue;
                    &-topEdit{
                        width: 95%;
                        height: auto;
                        margin: auto;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: .5rem 0rem;
                        // background-color: peru;
                        &>img{
                            cursor: pointer;
                        }
                        &-profileimg{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            &>*:not(:last-child){
                                height: 8rem;
                                width: 7rem;
                                background-color: white;
                                border-radius: 50%;
                                margin-top: -4rem;
                                object-fit: cover;
                            }
                            &>*:not(:first-child){
                                background-color: $neviblue;
                                padding: .2rem;
                                font-size: 1.5rem;
                                border-radius: 50%;
                                margin-top: -1rem;
                            }
                        }
                        &-editBox{
                            padding: .2rem 0rem;
                            width: 11%;
                            border-radius: .2rem;
                            display: flex;
                            justify-content: space-between;
                            background-color: white;
                            &>img{
                                margin-left: .5rem;
                            }
                            &>p{
                                color: $neviblue;
                                margin-right: .4rem;
                            }
                        }
                    }
                    &-bottomEdit{
            width: 90%;
            height: auto;
            margin: auto;
            padding: .5rem 0rem;
            // background-color: lightcoral;
        }
                }
            }
        }
        
    }
}
.leftcomponents{
    // margin-top: 1rem;
    display: flex;
    align-items: center;
    // justify-content: space-aroun;
    &>img{
        width: 20px;
        margin-left: 3.8rem;
        cursor: pointer;
        color: rgba(135, 132, 132, 0.499);
    }
    &>p{
        font-size: 1.5rem;
        color: #ffffffde;
        margin-left: 4rem;
        cursor: pointer;
        
    }
}


.popup-data{
    width: 100%;
    height: auto;
    padding: .2rem 0rem;
    &-content{
        width: 100%;
        height: auto;
        padding: .2rem 0rem;
        line-height: 3.5vh;
        // background-color: darkgrey;
      &>p{
        color: white;
      }
      &>h2{
        color: white;
      }
    }
}